.videos-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #dfdeef50;
  border-radius: 15px;
  .head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border-radius:15px;
    background-color: #fff;
    .search-input {
      border: 0px solid;
      border-bottom: 1px solid #bcbaced5;
      background-color: transparent;
      color: #10044a;
      outline: none;
      padding-left: 5px;
      width: 250px;
      transition: all 0.5s ease;
      font-size: 17px;
      font-weight: 350;

      &:focus,
      &:hover {
        border-bottom: 1px solid #10044a;
      }
      &::-webkit-input-placeholder {
        color: #bcbaced5;
      }
    }
    .add-button {
      height: 40px;
      width: 100px;
      border: 0;
      background-color: #10044a;
      color: #fff;
      border-radius: 7px;
      box-shadow: 0 10px 30px #10044a50;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .table-container {
    padding: 20px;
    margin-bottom: 20px;
    overflow:scroll;
    table {
      background-color: white;
      width: 100%;
      padding: 20px;
      border-radius: 15px;
      
      .table-header {
        .title {
          text-align: start;
          padding: 10px 10px 30px 10px;
          color: #888e9a;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      .table-body {
        .data-row {
          cursor: pointer;
          .data {
            padding: 15px 0 15px 10px;
          }

          &:hover {
            background-color: #eff4ff;
          }
        }
      }
    }
  }
}
